body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page1 {
  background-image: url(../images/background1.jpg);
}
.page2 {
  background-image: url(../images/background2.jpg);
}
.page3 {
  background-image: url(../images/background3.jpg);
}
.page4 {
  background-image: url(../images/background4.jpg);
}
.page5 {
  background-image: url(../images/background5.jpg);
}
.page6 {
  background-image: url(../images/background6.jpg);
}
.page7 {
  background-image: url(../images/background7.jpg);
}
.page8 {
  background-image: url(../images/background8.jpg);
}
.page9 {
  background-image: url(../images/background9.jpg);
}
.page10 {
  background-image: url(../images/background10.jpg);
}
.container {
  height: 100%;
}
.topmargin {
  height: 20%;
}
.topnav {
  text-align: right;
  height: 20%;
  color: #c2c2c2;
}
.midnav {
  text-align: right;
  height: 60%;
  color: #4b4b4b;
}
.botnav {
  text-align: right;
  height: 20%;
  color: #c2c2c2;
}
.keyword {
  text-align: left;
}
.ml6 {
  position: relative;
  font-weight: 1200;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.zoom {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.zoom:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
