body, html {
    height: 100%;
    margin: 0;
}

.bg {
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page1{
  background-image: url(../images/background1.jpg);
}
.page2{
  background-image: url(../images/background2.jpg);
}
.page3{
  background-image: url(../images/background3.jpg);
}
.page4{
  background-image: url(../images/background4.jpg);
}
.page5{
  background-image: url(../images/background5.jpg);
}
.container{
  height: 100%;
}
.topnav{
  text-align: right;
  height:30%;
}
.midnav{
  text-align: right;
  height:50%;
}
.botnav{
  text-align: right;
  height:20%;
}
.keyword{
  text-align: left;
}
.ml6 {
  position: relative;
  font-weight: 1200;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}